@{
    ViewBag.Title = "About";
}


组长：<br />
<a href="#" class="list-group-item active">
    王晓林-1610121165
</a>
成员：<br />
<a href="#" class="list-group-item">刘佳佳-1610121153</a>
<a href="#" class="list-group-item">姜改新-1610121174</a>
<a href="#" class="list-group-item">张利  -1610121177</a>
<a href="#" class="list-group-item">陈小艺-1610120043</a>

