@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>

<address>
    河南省开封市金明区 金明大道北段 河南大学金明校区 <br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
   12345678910
</address>

<address>
    <strong>Support:</strong>   <a href="#">123456@qq.com</a><br />
    <strong>Marketing:</strong> <a href="#">123456@qq.com</a>
</address>