


<div class="text-center">
    <div>

        扫码支付
    </div>

    <div>
        <img id="img1" style="width:45%; height:200px" src="~/Areas/T2/Images/Sa1.jpg" />
    </div>
    <div class="text-center">
        <button id="btn1" class="btn btn-primary">支付成功</button>
    </div>


</div>
<script src="~/Areas/T2/common/ButtonScript.js"></script>
<script>
    $("#btn1").click(function () {
        ShowMessage("购票成功，请及时取票！")
    });
</script>




